<section class="d-flex flex-column w-50 bg-primary-subtle m-2">
    <h1 class="d-flex justify-content-between align-items-center bg-primary text-white rounded p-2">{{postTitle}}<a role="button" href="/comment/{{postID}}" class="fs-5 p-2 text-center pointer text-decoration-none bg-white rounded">Add Comment</a></h1>
    <p class="p-2">Created By: {{username}} - {{postDate}}</p>
    <p class="p-2">{{postText}}</p>
    {{#each comments}}
    <p class="p-2 m-2 bg-primary text-white rounded">{{this.dataValues.text}} - {{this.dataValues.date}}</p>
    {{/each}}
</section>